<section class="footer">
  <hr class="solid">

  <div class="social">
    <a href="https://www.linkedin.com/in/maxime-carlier-6b9840226/" class="fa fa-linkedin-square"></a>
    <p>•</p>
    <a href="https://github.com/Carlier-Maxime" class="fa fa-github-square"></a>
  </div>

  <ul>
    <li><a href="/">Accueil</a></li>
    <li><p>•</p></li>
    <li><a href="/about">A Propos</a></li>
    <li><p>•</p></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <ul>
    <li><a href="mailto:28m06c02@gmail.com">28m06c02@gmail.com</a></li>
    <li><p>07 84 17 26 58</p></li>
  </ul>
  <p class="copyright"> Copyright © Maxime Carlier 2022-{{year}}</p>
</section>
