<div class="container">
  <h1>A Propos</h1>
  <p>
    Cette page est là pour vous donner des information me concernant et concernant le site. <br>
    Pour toute question, vous pouvez me contactez en allant dans la section contact ou en cliquant sur le lien de mon mail en bas de la page.
  </p>

  <h2>A Propos de moi</h2>
  <p>
    Je suis à la recherche d'un stage dans le développement d'une durée de 10 semaines minimum à compter du 11 avril 2022. <br>
    Si mon profil vous intéresse contactez moi.
  </p>
  <ul>
    <li>Nom : Carlier</li>
    <li>Prenom : Maxime</li>
    <li>Age : 19 ans</li>
    <li>Pays : France</li>
    <li>Profession : Etudiant en DUT info</li>
    <li>
      Competence :
      <table>
        <thead>
          <tr>
            <td>Languages</td>
            <td>Logiciel</td>
            <td>Framework</td>
            <td>Systeme d'exploitation</td>
          </tr>
        </thead>
        <tbody>
          <!-- Languages -->
          <td>
            <tr>Java</tr>
            <tr>C++</tr>
            <tr>Python</tr>
            <tr>PHP</tr>
            <tr>HTML</tr>
            <tr>CSS</tr>
            <tr>Typescript</tr>
            <tr>SQL</tr>
            <tr>Bash</tr>
            <tr></tr>
          </td>
          <!-- Logiciel -->
          <td>
            <tr>IntelliJ IDEA</tr>
            <tr>PhpStorm</tr>
            <tr>Py Charm</tr>
            <tr>WebStorm</tr>
            <tr>Visual studio Code</tr>
            <tr>Visual studio</tr>
            <tr>Notepad++</tr>
            <tr>Unreal Engine</tr>
            <tr>Git</tr>
          </td>
          <!-- Framework -->
          <td>
            <tr>Laravel</tr>
            <tr>Angular</tr>
            <tr>Qt</tr>
            <tr>Pyqt</tr>
            <tr>Java Swing</tr>
            <tr>Bootstrap</tr>
            <tr>Tensorflow</tr>
            <tr>Keras</tr>
          </td>
          <!-- Systeme d'exploitation -->
          <td>
            <tr>Linux</tr>
            <tr>Windows 10</tr>
            <tr>Windows 7</tr>
            <tr>Fedora</tr>
          </td>
        </tbody>
      </table>
    </li>
    <li>
      Projet :
      <ul>
        <li>Portfolio</li>
        <li>LabyCreator</li>
        <li>DrawIO</li>
        <li>Boto</li>
        <li>Sokoban</li>
      </ul>
    </li>
  </ul>

  <h2>A Propos du site</h2>
  <p>
    Ce site est là pour vous présenter mes projet, mes competence, et diverse information sur moi.
  </p>
</div>
