<div class="container">
  <h1>A Propos</h1>
  <h2>description</h2>
  <p>
    Cette page est là pour vous donner des information me concernant et concernant le site. <br>
    Pour toute question, vous pouvez me contactez en allant dans la section contact ou en cliquant sur le lien de mon mail en bas de la page.
  </p>

  <h2>A Propos de moi</h2>
  <p>
    Je suis à la recherche d'un stage dans le développement d'une durée de 10 semaines minimum à compter du 11 avril 2022. <br>
    Si mon profil vous intéresse contactez moi. <br>
    Fiche technique :
  </p>
  <ul>
    <li>Nom : Carlier</li>
    <li>Prenom : Maxime</li>
    <li>Age : 19 ans</li>
    <li>Pays : France</li>
    <li>Profession : Etudiant en DUT info</li>
    <li class="tabContainer">
      Competence :
      <table class="tab">
        <thead>
          <tr>
            <td>Languages</td>
            <td>Logiciel</td>
            <td>Framework</td>
            <td>Systeme d'exploitation</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of arrayLength">
            <td>{{getLanguage(i)}}</td>
            <td>{{getLogiciel(i)}}</td>
            <td>{{getFramework(i)}}</td>
            <td>{{getSE(i)}}</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      Projet :
      <ul class="project">
        <li>Portfolio</li>
        <li>LabyCreator</li>
        <li>DrawIO</li>
        <li>Boto</li>
        <li>Sokoban</li>
      </ul>
      <br> <br>
      Pour plus d'information sur les projet retourner a la homepage.
    </li>
    <li>Mail : 28m06c02@gmail.com</li>
    <li>Téléphone : 07 84 17 26 58</li>
  </ul>

  <h2>A Propos du site</h2>
  <p>
    Ce site est là pour vous présenter mes projet, mes competence, et diverse information sur moi.
  </p>
  <br>
</div>
<br>
