* {
  background-color: dodgerblue;
  color: antiquewhite;
  z-index: 100;
}

.navbar {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  font-size: 1.2rem;
  padding: 1rem;
  list-style: none;
  transition: all .3s ease 0s;
}

a {
  text-decoration-color: currentColor;
  display: block;
  text-decoration: none;
}

.name {
  font-size: 1.8rem;
  margin: .5rem;
}
