<app-navbar></app-navbar>
<div class="titre-dev">
  <p id="typewriter">Développeur</p>
  <button class="button-cv" type="button"><a href="/assets/CV.pdf">Voir mon CV</a></button>
</div>
<h1>Project</h1>
<app-project-preview
  name="Portfolio"
  description="Portfolio avec tous mes projet et des information sur moi."
  link="https://github.com/Carlier-Maxime/Portfolio"
  img="portfolio.jpg"
  [competences]="['HTML','CSS','Angular','Typescript','Git']"
></app-project-preview>
<app-project-preview
  name="LabyCreator"
  description="LabyCreator est une petite application java qui permet de créer et résoudre un labyrinthe automatiquement."
  link="https://github.com/Carlier-Maxime/labyCreator"
  img="labyCreator.gif"
  [competences]="['Java','Java Swing','Git']"
></app-project-preview>
<app-project-preview
  name="DrawIO"
  description="DrawIO est une petite application java qui permet de dessiner a la souris."
  link="https://github.com/Carlier-Maxime/DrawIO"
  img="drawIO.gif"
  [competences]="['Java','Java Swing','Git']"
></app-project-preview>
<app-project-preview
  name="Boto"
  description="boto est un site web de gestion de série qui a été créer en 2021 durant un marathon web.
ce marathon a duré 3 jour, du 15 décembre au 17 décembre 2021.
c'était un projet de fin de semestre 3 de mon DUT informatique a l'IUT de lens.
ce fut réalisée par groupe de 7 étudiant, 3 pour le back et 4 pour le front.
J'étais bien entendu du coté back-end. (non hébergé)"
  link="https://github.com/Carlier-Maxime/boto"
  img="boto.jpg"
  [competences]="['PHP','Laravel','Git','SQL']"
></app-project-preview>
<app-project-preview
  name="Sokoban"
  description="le jeu du sokoban recréer en python avec la librairie pyqt5.
  fait en groupe de 4 étudiant durant mon DUT info a l'IUT de lens."
  link="https://github.com/Carlier-Maxime/sokoban"
  img="sokoban.gif"
  [competences]="['Python','PyQt5','Git']"
></app-project-preview>
<app-footer></app-footer>
